@import '~open-color/open-color';

/* Font Color */
$default_color: #262626;
$light_color: #ffffff;
$text_color: $oc-gray-7;
$text_light_color: $oc-gray-6;

/* Background Color */
$container_background_color: #ffffff;
$default_background_color: $oc-gray-0; // 'rgba(0 0 0 0.87)'
$load_background_color: rgba(0, 0, 0, 0.3);

/* Border Color*/
$default_border_color: $oc-gray-3;
// #dbdbdb;
