@import '../../styles/_variables';

/* Font Color */
$default_color: #262626;
$light_color: #fafafa;

/* Background Color */
$default_background_color: #fafafa;
$load_background_color: rgba(0, 0, 0, 0.3);

/* Border Color*/
$default_border_color: #dbdbdb;

/* Font Family */
$default_font_family: 'Roboto', Arial, Helvetica, sans-serif;
$logo_font: 'Satisfy', cursive;
