@mixin auth_block_size {
	width: 300px;
	height: 35px;
}

@mixin row_container {
	display: flex;
	align-items: baseline;
}

@mixin container_bcg_border {
	border: solid 1px $default_border_color;
	border-radius: 3px;
	background-color: $container_background_color;
}

@mixin blue_btn {
	font-weight: 600;
	background-color: $oc-blue-3;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 3px;
	&:hover {
		background-color: $oc-indigo-6;
	}
}

@mixin black_outlined_btn {
	background-color: $container_background_color;
	border: 1px solid $default_color;
	border-radius: 4px;
	cursor: pointer;

	&:hover {
		background-color: $default_color;
		transition: 0.2s;
		color: $light_color;
	}
}

@mixin default_input_style {
	border: solid 1px $default_border_color;
	border-radius: 3px;
	padding: 0 10px;
	&:hover {
		border-color: $oc-gray-5;
		transition: 0.2s;
	}
	&:focus {
		border: solid 2px $oc-gray-5;
	}
}
