// nav size
$nav_height: 54px;
$nav_width: 975px;
$nav_padding: 20px;

// inner size
$inner_width: 935px;
$inner_padding: 30px;

//main size
$main_width: 614px;

//side size
$side_width: 293px;
$main_side_gap: 28px;

//post size
$post_writer_height: 60px;
$post_content_height: 100px;

//media query 변경 사이즈
$media-width: 753px;

//font-size
$default_font_size: 14px;
