@import '../../styles/_variables';

.comment_container {
	padding: 16px 12px 0 12px;
	display: flex;
	gap: 10px;

	.user_image {
		border-radius: 50%;
		width: 32px;
		height: 32px;
	}

	.comment_info {
		flex-grow: 1;
		display: flex;
		align-items: center;
		font-family: $default_font_family;
		color: $text_color;
		gap: 10px;
		font-size: 0.9rem;

		.comment_user_name {
			font-weight: 500;
			display: inline-flex;
		}

		.comment {
		}
	}
}
