@import '../../styles/_variables';

.comment_container {
	padding: 16px 16px 0 16px;
	display: flex;

	.user_image {
		border-radius: 50%;
		width: 32px;
		height: 32px;
		margin-right: 20px;
	}

	.comment_info {
		flex-grow: 1;
		display: flex;
		align-items: center;
		font-family: $default_font_family;

		.comment {
			color: $text_color;
			white-space: pre-wrap;
			word-break: break-all;

			.comment_user_name {
				color: $text_color;
				font-weight: 500;
				display: inline-flex;
				margin-right: 5px;
			}
		}
	}

	.delete_comment_btn {
		border: none;
		background-color: transparent;
		cursor: pointer;

		.icon {
			font-size: 1.2rem;
			color: $text_light_color;
		}
	}
}
