@import '../../styles/_variables';

.ortext_container {
	width: 100%;
	margin: 10px;
	display: flex;
	align-items: center;

	.ortext {
		font-size: 0.9rem;
		font-weight: 600;
		color: $oc-gray-6;
		text-align: center;
		width: 40px;
	}

	.ortext_slice {
		margin: 20px 10px;
		width: 130px;
		border-bottom: solid 1px $oc-gray-5;
	}
}

.social_signIn {
	display: flex;
	flex-direction: column;
	width: 100%;

	.auth_btn {
		@include black_outlined_btn;
		margin-bottom: 10px;
		width: 100%;
		height: 35px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.icon {
		margin-right: 10px;
		font-size: 1.1rem;
	}
}
