@import '../../styles/_variables';

.auth_form {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;

	.input {
		@include auth_block_size;
		width: 100%;
		margin-bottom: 15px;
	}

	.displayName_input {
		width: 100%;
	}

	.loading {
		margin: 20px 0 10px 0;
	}

	.check_message {
		margin: 20px 0 10px 0;
		width: 300px;
		font-family: $default_font_family;
		font-weight: 600;
	}

	.auth_btn {
		width: 100%;
		margin-top: 10px;
		@include blue_btn;
	}
}
