@import '../../styles/_variables';

.nav {
	display: flex;
	height: $nav_height;
	z-index: 10;
	width: 100%;
	background-color: $container_background_color;
	position: sticky;
	top: 0;
	border-bottom: solid 1px $default_border_color;

	.nav_inner {
		margin: 0 auto;
		width: 100%;
		max-width: $nav_width;
		padding: 0 $nav_padding;
		height: $nav_height;
		border-bottom: solid 1px $default_border_color;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 2;
		background-color: $container_background_color;
		.logo {
			font-family: $logo_font;
			cursor: pointer;
			font-weight: 600;
			font-size: 1.5rem;
		}

		.items {
			display: flex;
			align-items: center;
		}

		.item {
			color: $default_border_color;
			margin-right: 15px;
			position: relative;
			height: fit-content;
			.icon_home {
				font-size: 2rem;
			}

			.icon_write {
				font-size: 2rem;
			}
			.nav_menu_location {
				bottom: -120px;
				right: -20px;
			}

			&:last-child {
				margin-right: 0;
			}

			.nav_profile_image {
				padding: 2px;
				cursor: pointer;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: solid 1px $default-color;
			}
		}
	}
}
