@import '../../styles/_variables';

.nav {
	display: flex;
	height: $nav_height;
	z-index: 10;
	width: 100%;
	background-color: $container_background_color;
	position: sticky;
	top: 0;
	border-bottom: solid 1px $default_border_color;

	.nav_inner {
		margin: 0 auto;
		width: 100%;
		max-width: $nav_width;
		padding: 0 $nav_padding;
		height: $nav_height;
		border-bottom: solid 1px $default_border_color;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 2;
		background-color: $container_background_color;
		.logo {
			font-family: $logo_font;
			font-size: 1.5rem;
		}

		.items {
			display: flex;
			align-items: center;
		}

		.item {
			color: $default_border_color;
			margin-right: 10px;
			position: relative;
			.nav_menu_location {
				bottom: -100px;
				right: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			.nav_profile_image {
				cursor: pointer;
				width: 27px;
				height: 27px;
				border-radius: 50%;
			}
		}
	}
}
