@import '../../styles/_variables';

.post {
	height: fit-content;
	@include container_bcg_border;
	margin-bottom: 24px;
	@media screen and (max-width: $media-width) {
		margin: 0;
		border-top: 0;
	}

	.writer {
		height: $post_writer_height;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 10px;

		.user_info {
			display: flex;
			align-items: center;

			.user_img {
				border-radius: 50%;
				margin-right: 10px;
			}

			.user_name {
				font-weight: 500;
				font-size: 0.9rem;
				font-family: $default_font_family;
				color: $text-color;
			}
		}

		.post_menu {
			background-color: transparent;
			border: 0;
			cursor: pointer;
		}
	}

	.post_img_container {
		height: fit-content;

		.post_img {
			width: 100%;
		}
	}

	.post_content_container {
		padding: 5px 16px 16px 16px;
		font-family: $default_font_family;
		font-size: 0.9rem;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.post_text_container {
			.post_text {
				height: fit-content;
				font-weight: 400;
				color: $text-color;
				white-space: pre-wrap;
				word-break: break-all;
				line-height: 1rem;
			}
		}

		.post_comments {
			.comments_count {
				background-color: transparent;
				border: none;
				padding: 0;
				cursor: pointer;
				color: $text-light-color;
			}
		}
	}
}
